@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    html {
        @apply scroll-smooth focus:scroll-auto;
    }
}

@layer components {
    .required {
        @apply after:content-['*'] after:text-danger-500 after:font-semibold after:ps-2;
    }
    .label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }
    .label-is-invalid {
        @apply text-danger-600 dark:text-danger-500;
    }
    .label-is-valid {
        @apply text-success-600 dark:text-success-500;
    }
    .label-is-dirty {
        @apply text-warning-600 dark:text-warning-500;
    }
    .input {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
    }
    .is-invalid {
        @apply bg-danger-50 border-danger-500 text-danger-900 placeholder-danger-700 focus:ring-danger-500 dark:bg-gray-700 focus:border-danger-500 dark:text-danger-500 dark:placeholder-danger-500 dark:border-danger-500;
    }
    .is-valid {
        @apply bg-success-50 border-success-500 text-success-900 placeholder-success-700 focus:ring-success-500 dark:bg-gray-700 focus:border-success-500 dark:text-success-500 dark:placeholder-success-500 dark:border-success-500;
    }
    .is-dirty {
        @apply bg-warning-50 border-warning-500 text-warning-900 placeholder-warning-700 focus:ring-warning-500 dark:bg-gray-700 focus:border-warning-500 dark:text-warning-500 dark:placeholder-warning-500 dark:border-warning-500;
    }
    #second_navbar li.active a {
        @apply !text-primary-700 dark:!text-primary-500 !font-medium;
    }
}

.progress {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}
.progress .indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s
        cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
        infinite;
}
.progress .indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s
        cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
        infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}
.progress {
    display: none;
}
.htmx-request .progress {
    display: inline;
}
.htmx-request.progress {
    display: inline;
}
@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
